<h1>Pastas</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roms.each do |rom| %>
      <tr>
        <td><%= rom.nome %></td>
        <td><%= rom.user.nome %></td>
        <td><%= link_to 'Mostrar', rom %></td>
        <td><%= link_to 'Editar', edit_rom_path(rom) %></td>
        <td><%= link_to 'Deletar', rom, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Pasta', new_rom_path %>

<h1>Compartilhados</h1>

<table>
  <thead>
    <tr>
      <th>Pasta</th>
      <th>Compartilhando</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compartilhados.each do |compartilhado| %>
      <tr>
        <td><%= compartilhado.nome %></td>
        <td><% compartilhado.usuarios.each do |usuario| %>
        <p>
        <%= "Nome: #{usuario.user.nome}" %>
        </p>
        <% end %>
        <td><%= compartilhado.nome %></td>
        <td><%= link_to 'Mostrar', compartilhado %></td>
        <td><%= link_to 'Editar', edit_compartilhado_path(compartilhado) %></td>
        <td><%= link_to 'Apagar', compartilhado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Compartilhamento', new_compartilhado_path %>

