<h1>Pastas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roms.each do |rom| %>
      <tr>
        <td><%= rom.nome %></td>
        <td><%= rom.user.nome %></td>
        <td><%= link_to 'Mostrar', rom %></td>
        <td><%= link_to 'Editar', edit_rom_path(rom) %></td>
        <td><%= link_to 'Deletar', rom, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Pasta', new_rom_path %>
