
<p>
  <strong>Nome:</strong>
  <%= @compartilhado.nome %>
</p>
<p>
  <strong>Usuario:</strong>
  <%= @compartilhado.user.nome %>
</p>

<strong>Usuarios Compartilhando:</strong><br>
	<% @usuarios.each do |user| %>
	  <p>
		<%= "Nome: #{user.user.nome}" %>
	  </p>
	<% end %>

<% if @compartilhado.arquivos.attached? %>
	<p>
	  <strong>Documentos:</strong><br>
	  	<% @compartilhado.arquivos.each do |arquivo| %><br>
	  		<% if arquivo.previewable? %>
	  			<%= link_to image_tag(arquivo.preview(resize: "100x100")), arquivo %>
	  			<%=  link_to 'Deletar', arquivo, method: :delete, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% elsif arquivo.image? %>
	  			<%= link_to image_tag(arquivo, width: 100), arquivo %>
	  			<%=  link_to 'Deletar', arquivo, method: :delete, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% else %>
	  			<%= link_to arquivo.filename, arquivo %>
	  			<%=  link_to 'Deletar', arquivo, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% end %>
	  	<% end %>
	</p>
<% end %>

<%= link_to 'Editar', edit_compartilhado_path(@compartilhado) %> |
<%= link_to 'deletar', @compartilhado, method: :delete, data: { confirm: 'Você tem certeza?' } %> |
<%= link_to 'Voltar', roms_path %>
