
<p>
  <strong>Nome:</strong>
  <%= @compartilhado.nome %>
</p>

<strong>Usuarios Compartilhando:</strong><br>
<td><% @compartilhado.usuarios.each do |usuario| %>
     <%= usuario.user_nome %></td>
    <% end %>

<% if @compartilhado.arquivos.attached? %>
	<p>
	  <strong>Documentos:</strong><br>
	  	<% @compartilhado.arquivos.each do |arquivo| %>
	  		<% if arquivo.previewable? %>
	  			<%= link_to image_tag(arquivo.preview(resize: "200x200")), arquivo %>
	  			<%=  link_to 'Deletar', arquivo, method: :delete, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% elsif arquivo.image? %>
	  			<%= link_to image_tag(arquivo, width: 100), arquivo %>
	  			<%=  link_to 'Deletar', arquivo, method: :delete, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% else %>
	  			<%= link_to arquivo.filename, arquivo %>
	  			<%=  link_to 'Deletar', arquivo.purge, data: { confirm: 'Você tem certeza?' } %><br>
	  		<% end %>
	  	<% end %>
	</p>
<% end %>

<%= link_to 'Editar', edit_compartilhado_path(@compartilhado) %> |
<%= link_to 'Voltar', roms_path %>
